PORT=

# PRODUCTS_MICROSERVICE_HOST=
# PRODUCTS_MICROSERVICE_PORT=

# ORDERS_MICROSERVICE_HOST=
# ORDERS_MICROSERVICE_PORT=

# NATS_SERVERS="nats://localhost:4222,nats://localhost:4223,nats://localhost:4224"
NATS_SERVERS="nats://localhost:4222"